<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Registro</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        function validateForm() {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm_password').value;
            const regex = /^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

            if (!regex.test(password)) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'La contrase침a debe tener al menos 8 caracteres, incluyendo una may칰scula, un n칰mero y un car치cter especial.'
                });
                return false;
            }

            if (password !== confirmPassword) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Las contrase침as no coinciden.'
                });
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
    <header>
        <h1>Tienda de Maria 游볹</h1>
    </header>
    <main>
        <div class="contenedor">
            <div class="login">
                <h1>Registro de Usuario</h1>
                <% if (typeof error !== 'undefined') { %>
                    <script>
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: '<%= error %>'
                        });
                    </script>
                <% } %>
                <% if (typeof success !== 'undefined') { %>
                    <script>
                        Swal.fire({
                            icon: 'success',
                            title: '칄xito',
                            text: '<%= success %>'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '/login';
                            }
                        });
                    </script>
                <% } %>
                <form action="/register" method="post" onsubmit="return validateForm()">
                    <input type="text" name="username" placeholder="Nombre de usuario" required>
                    <input type="email" name="email" placeholder="Correo electr칩nico" required>
                    <input type="password" name="password" id="password" placeholder="Contrase침a" required>
                    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirmar contrase침a" required>
                    <input type="submit" value="Registrarse">
                </form>
                <a href="/login" class="login-button">Iniciar sesi칩n</a>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <p>&copy; Tienda de Maria <span id="current-year"></span></p>
        </div>
    </footer>
    <script>
        document.getElementById('current-year').textContent = new Date().getFullYear();
    </script>
</body>
</html>
